*{
    font-family: arial,sans-serif;
}
.header-navbar {
    display: grid;
    grid-template-columns: 15% auto auto;
    padding: 2px;
}
.logo img {
    height: 40px;
    width: auto;
}
.big-title {
    color: #c20a0a;
    font-size: 25px;
    text-transform: uppercase;
    word-spacing: 5px;
    font-weight: bold;
    line-height: 40px;
}
.header-logo {
    margin: auto;
    width: 50%;
}
html,
body{
    height: 100%;
    width: 100%;
    overflow: hidden;
}
#viewDiv {
    height: calc(100vh - 50px);;
    width: 99%;
    border: solid 1px #ccc;
  }

  .popup-content > img{
    height: 113px;
  }
  .weather{
      background: white
  }
  .esri-basemap-toggle {
    cursor: pointer;
    position: relative;
    overflow: visible;
    bottom: -15px;
    background-color: transparent;
    box-shadow: none;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
.esri-basemap-toggle__container, .esri-basemap-toggle__image {
    width: 80px;
    height: 80px;
}
.user-setting {
    text-align: right;
    margin: 14px 10px 0 0;
    font-size: 14px;
}

div#edit-bao {
    top: -30px;
    right: -126px;
}
div#info-hinhanh-nhamay{
    top: -35px;
    right: -99px;
    border-radius: 20px 18px;
    width: 21px;
    height: 21px;
    line-height: 22px;
    font-size: 11px;
}
div#chitiet-bao {
    position: initial;
    padding: .58em;
}
div#delete-bao{
    top: -30px;
    right: -126px;
    background: #c61a16;
}
.bao-item {
    float: left;
    width: 23px;
    height: 23px;
    position: relative;
    line-height: 23px;
    cursor: pointer;
    margin: 2px;
    border-radius: 3px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    border: solid 1px #ccc;
    color: #fff;
    background-color: #4285F4;
    font-size: 12px;
    text-indent: 5px;
    text-shadow: rgba(0, 0, 0, 0.7) 0px 1px 8px;
}
.nhamay-item {
    float: left;
    position: relative;
    cursor: pointer;
    margin: 2px;
    border-radius: 3px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    border: solid 1px #ccc;
    color: #fff;
    background-color: #4285F4;
    text-indent: 5px;
    text-shadow: rgba(0, 0, 0, 0.7) 0px 1px 8px;
}
body > div.k-widget.k-window > div.k-window-content.k-content > div > div.k-grid-content.k-auto-scrollable > table > tbody > tr > td{
    padding: 10px 12px;
}
label.col-sm-4.control-label {
    text-align: left;
    font-weight: 300; 
}
ul{
    list-style: none
}

.fa-folder:before {
    margin-right: 12px;
    color: #dab56e;
}
li.folder-objectid{
    padding-left: 30px;
}
li.li-image{
    margin-left: -15px;
}
