*{
    font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
}
.header-navbar {
    display: grid;
    grid-template-columns: 15% auto 11%;
    padding: 2px;
}
.logo img {
    height: 40px;
    width: auto;
}
.big-title {
    color: #c20a0a;
    font-size: 25px;
    text-transform: uppercase;
    word-spacing: 5px;
    font-weight: bold;
    line-height: 40px;
}
.header-logo {
    margin: auto;
    width: 50%;
}
html,
body{
    height: 100%;
    width: 100%;
    overflow: hidden;
}
#viewDiv {
    height: calc(100vh - 50px);;
    width: 99%;
    border: solid 1px #ccc;
  }

  .popup-content > img{
    height: 113px;
  }
  .weather{
      background: white
  }
  .esri-basemap-toggle {
    cursor: pointer;
    position: relative;
    overflow: visible;
    bottom: -15px;
    background-color: transparent;
    box-shadow: none;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
.esri-basemap-toggle__container, .esri-basemap-toggle__image {
    width: 80px;
    height: 80px;
}
.user-setting {
    text-align: right;
    margin: 14px 10px 0 0;
    font-size: 14px;
}
#info-hinhanh-nhamay > span{
    font-size: 11px;
}
div#edit-bao {
    top: -30px;
    right: -126px;
}
div#info-hinhanh-nhamay{
    top: -35px;
    right: -99px;
    border-radius: 20px 18px;
    width: 21px;
    height: 21px;
    line-height: 22px;
    font-size: 11px;
}
div#chitiet-bao {
    position: initial;
    padding: .58em;
}
div#delete-bao{
    top: -30px;
    right: -126px;
    background: #c61a16;
}

.bao-item {
    float: left;
    width: 23px;
    height: 23px;
    position: relative;
    line-height: 23px;
    cursor: pointer;
    margin: 2px;
    border-radius: 3px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    border: solid 1px #ccc;
    color: #fff;
    background-color: #4285F4;
    font-size: 12px;
    text-indent: 5px;
    text-shadow: rgba(0, 0, 0, 0.7) 0px 1px 8px;
}
.nhamay-item {
    float: left;
    position: relative;
    cursor: pointer;
    margin: 2px;
    border-radius: 3px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    border: solid 1px #ccc;
    color: #fff;
    background-color: #4285F4;
    text-indent: 5px;
    text-shadow: rgba(0, 0, 0, 0.7) 0px 1px 8px;
}
body > div.k-widget.k-window > div.k-window-content.k-content > div > div.k-grid-content.k-auto-scrollable > table > tbody > tr > td{
    padding: 10px 12px;
}
label.col-sm-4.control-label {
    text-align: left;
    font-weight: 300; 
}
ul{
    list-style: none
}

.fa-folder:before {
    margin-right: 12px;
    color: #dab56e;
}
li.folder-objectid{
    padding-left: 30px;
}
li.li-image{
    margin-left: -15px;
}
li.panelGroup {
    border: solid 1px #ccc;
    background: #4285f4;
    color: #fff;
}
td.icon-label {
    line-height: 31px;
}
td.symbol-type-point{
    padding: 8px 12px !important;
}
td.symbol-type-polyline{
    padding: 0 10px !important;
}
label.title{
    margin-top: 2px;
}
li.title-widget,div.title-widget {
    height: 37px;
    background: #0079c1;
    line-height: 36px;
    width: 100%;
    border-bottom: solid 1px #ccc;
    border-top: solid 1px #ccc;
    border-left: solid 1px #ccc;
    margin: 0px;
}
li.title-widget{
    border: solid 1px #ccc;
}
.esri-layer-list__item-container{
    background: #4285f4;
    color: #fff;
}
.esri-layer-list__item--invisible-at-scale .esri-layer-list__item-container > div > span:nth-child(2){
    color: #17394d;
}
span.esri-layer-list__child-toggle-icon--closed.esri-icon-right-triangle-arrow{
    color: #fff;
}
.esri-layer-list__item--invisible-at-scale .esri-layer-list__item-container {
    background: #e4f0f6;
}
.esri-layer-list__item--invisible-at-scale span.esri-layer-list__item-toggle {
    color: #17394d;
}
.esri-layer-list__item--invisible-at-scale .esri-layer-list__item-container:hover {
    background-color: #9fd0ec;
}
ul.esri-layer-list__list.esri-layer-list__list--root.esri-layer-list__list--independent {
    margin-top: 0px;
}
.esri-print__header-title{
    display: none;
}
div#layer-list,div#legend-layer-list ,.esri-widget.ditagis-widget-layer-editor.pane-item,ul.layer-editor
{
    max-height: 450px;
    overflow: hidden;
    overflow-y: auto;
}
.query-method-widget{
    padding:10px;
    width:300px;
    max-height: 414px;
    overflow: hidden;
    overflow-y: auto;
}
.btn-accept{
    position: absolute;
    padding-bottom: 6px;
    bottom: 0;
    width: 88%;
}
.btn-accept > button {
    width: 100%;
    text-align: center;
    border-radius: 4px;
}

.esri-widget table tr th {
    width: 50%;
    text-align: left;
    border-right: 3px solid rgba(0,0,0,0.05);
}
.esri-widget table tr:nth-child(odd) {
    background-color: rgba(76,76,76,0.1);
}
.esri-widget table tr td, .esri-widget table tr th {
    padding: .5em .7em;
    word-break: break-word;
    vertical-align: top;
    font-size: 12px;
    font-weight: 400;
}
.esri-widget table {
    width: 100%;
}
span.esri-layer-list__item-toggle-icon.esri-icon-visible,span.esri-layer-list__item-toggle-icon.esri-icon-non-visible,
span.esri-layer-list__child-toggle-icon--opened.esri-icon-down-arrow,span.esri-layer-list__child-toggle-icon--closed.esri-icon-right-triangle-arrow{
    font-size: 12px;
}
.input-container {
    width: 370px;
  }
.group-input {
    padding: 5px ;
}
input.k-input.k-textbox {
    border: solid 1px #ccc;
}
.table-wrapper {
    width: 700px;
    margin: 30px auto;
    background: #fff;
    padding: 20px;	
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.table-title {
    padding-bottom: 10px;
    margin: 0 0 10px;
}
.table-title h2 {
    margin: 6px 0 0;
    font-size: 22px;
}
.table-title .add-new {
    float: right;
    height: 30px;
    font-weight: bold;
    font-size: 12px;
    text-shadow: none;
    min-width: 100px;
    border-radius: 50px;
    line-height: 13px;
}
.table-title .add-new i {
    margin-right: 4px;
}
table.table {
    table-layout: fixed;
}
table.table tr th, table.table tr td {
    border-color: #e9e9e9;
    padding: 5px;
}
table.table th i {
    font-size: 13px;
    margin: 0 5px;
    cursor: pointer;
}
table.table th {
    width: 120px;
}
table.table th:last-child {
    width: 80px;
}
table.table td a {
    cursor: pointer;
    display: inline-block;
    margin: 0 5px;
    min-width: 24px;
}    
table.table td a.add {
    color: #27C46B;
}
table.table td a.edit {
    color: #FFC107;
}
table.table td a.delete {
    color: #E34724;
}
table.table td i {
    font-size: 19px;
}
table.table td a.add i {
    font-size: 24px;
    margin-right: -1px;
    position: relative;
    top: 3px;
}    
table.table .form-control {
    height: 32px;
    line-height: 32px;
    box-shadow: none;
    border-radius: 2px;
}
table.table .form-control.error {
    border-color: #f50000;
}
table.table td .edit {
    display: none;
}
.nav {
    margin: 0;
    margin-right: 8px;
}
.nav .open>a,.nav .open>a:hover,.nav .open>a:focus {
    background-color: #eee;
    border-color: #428bca
}
.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px
}
a {
    color: #428bca;
    text-decoration: none
}

a:hover,a:focus {
    color: #2a6496;
}

a:focus {
    outline: thin dotted #333;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px
}
.dropdown-user li:first-child a span {
    color: #ef4040;
    font-weight: 700;
}
