.control_item {
    float: left;
}
.item{
    width: 30px;
    height: 30px;
    line-height: 30px;
    cursor: pointer;
    margin: 2px;
    border-radius: 3px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    border: solid 1px #ccc
    ;color: #fff;
    background-color: #4285F4;
    
}


.widget_item {
    text-align: center;
    margin: 0px;
}
#location{
    margin-top: 3px;
}
#header_template {
    color: #0b234d;
    height: auto;
    overflow: hidden;
    position: fixed;
    z-index: 99999;
    left: 5px;
    top: 75px;
    border-radius: 3px;
    font-weight: 700;
}
#tools_template{
    color: #0b234d;
    height: auto;
    overflow: hidden;
    position: fixed;
    z-index: 99999;
    right: 20px;
    bottom: 10px;
    border-radius: 3px;
    font-weight: 700;
}
span > img{
    width: 20px;
}


.row-item {
    padding: 8px 5px;
    cursor: pointer;
    font-size: 1.2em;
    border-left: 1px solid #bee8fb;
    border-right: 1px solid #bee8fb;
    border-bottom: 1px solid #bee8fb;
}
.label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: bold;
    line-height: 1;
    color: #000000;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}
.closePanel {
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    padding: 7px 14px;
    line-height: 1;
    border-radius: .25em;
}
span.btn-danger.pull-right.closePanel.closePanel_print{
    z-index: 1;
}

#weather-panel{
    width: 320px;
    background-color: #f9f9f9;
    float: right;
    position: absolute;
    right: 15px;
    top: 75px;
    z-index: 999;
    margin: 5px 5px 0 0;
    overflow: hidden;
}
#legend-panel{
    width: 320px;
    background-color: #f9f9f9;
    float: right;
    position: absolute;
    right: 15px;
    top: 75px;
    z-index: 999;
    overflow: hidden;
}
#print-panel{
    width: 320px;
    background-color: #f9f9f9;
    float: right;
    position: absolute;
    right: 15px;
    top: 75px;
    z-index: 999;
    overflow: hidden;
}
#listNhaMay {
    display: block;
    position: absolute;
    bottom: 5px;
    left: 35px;
    z-index: 9999;
    margin-bottom: 0;
}

/* Begin Layer editor */
#pane-tools{
    position: absolute;
    right: 15px;
    top: 75px;
    max-height: 55vh;
    overflow-x: hidden;
}
#pane-tools>div {
    height: 100%;
}
.ditagis-widget-layer-editor {
    max-height: 550px;
    width: 250px;
    max-height: 420px;
    overflow: hidden;
    overflow-y: auto;
    transition: max-height 250ms ease-in-out;
}
.esri-widget {
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-size: 14px;
}

.pane-item {
    background-color: #fff;
}
.ditagis-widget-layer-editor .title {
    text-align: center;
    font-weight: bold;
    padding: 7px;
}
.esri-widget.ditagis-widget-layer-editor.pane-item > ul {
    list-style: none;
    padding: 0;
}
button.accordion {
    background-color: #4285F4;
    color: #fff;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: solid 1px #ccc;
    text-align: left;
    outline: none;
    transition: 0.4s;
}
.ditagis-widget-layer-editor .panel-body {
    padding: 0px;
}

div.panel-accordion {
    background-color: white;
    display: none;
}
/* End layer editor */

/* Begin select type draw editor */
.esri-widget-button {
    background-color: #4285F4;
    color: #fff;
}
button.methods {
    background-color: #4285F4;
    color: #fff;
    cursor: pointer;
    padding: 10px;
    width: 120px;
    border: solid 1px #ccc;
    text-align: left;
    outline: none;
    transition: 0.4s;
}
.esri-expand__container.esri-expand__container--expanded {
    right: 205px;
    top: -20px;
}
/* End select type draw editor */

#listNhaMay .panel-body {
    max-height: 220px;
    overflow: hidden;
    overflow-y: auto
}
.panel-info>.panel-heading {
    color: #fff;
    background-color: #4285F4;
    /* background-color: #005aa6; */
   
}

.panel-heading {
    padding: 5px;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}


.btn-primary:hover,.btn-primary:focus,.btn-primary:active,.btn-primary.active,.open .dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #3276b1;
}

.btn-primary:active,.btn-primary.active,.open .dropdown-toggle.btn-primary {
    background-image: none
}

.btn-primary.disabled,.btn-primary[disabled],fieldset[disabled] .btn-primary,.btn-primary.disabled:hover,.btn-primary[disabled]:hover,fieldset[disabled] .btn-primary:hover,.btn-primary.disabled:focus,.btn-primary[disabled]:focus,fieldset[disabled] .btn-primary:focus,.btn-primary.disabled:active,.btn-primary[disabled]:active,fieldset[disabled] .btn-primary:active,.btn-primary.disabled.active,.btn-primary[disabled].active,fieldset[disabled] .btn-primary.active {
    background-color: #4285F4;
   
}
.label.pull-right > img{
    width: 40px;
}
.esri-component.esri-attribution.esri-widget {
    display: none;
}

.hidden{
    display: none;
}
.widget-list {
    left: 10px;
    right: 20px;
    opacity: 1;
    bottom: 15px;
    z-index: 6;
    height: 118px;
    position: absolute;
    max-width: 100%;
}
.widget-list-factory {
    left: 50px;
    opacity: 1;
    bottom: -10px;
    z-index: 6;
    height: 118px;
    position: absolute;
    overflow-x: auto;
    max-height: 300px;
    overflow-y: hidden;
    white-space: nowrap;
    transition-property: opacity,left;
    transition-duration: 0.4s;
}
.item-nhamay{
    display: inline-block;
    margin-right: 3px;
    height: 100px;
    width: 203px;
    position: relative;

    
}
.item-nhamay > li{
    cursor: pointer;
    width: 203px;
    height: 100px;
    display: inline-block;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin-right: 3px;
    z-index: 0;
    opacity: 1;
    transition: opacity 0.71s 0s ease-in;
}

.item-nhamay > li > button {
    width: 100%;
    height: 100%;
    position: absolute;
    text-align: left;
    cursor: pointer;
}
.image-hack-clip {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: hidden;
}

.image-hack-wrapper {
    display: block;
    text-align: center;
    position: absolute;
    width: 500px;
    height: 500px;
    line-height: 500px;
    left: -149px;
    top: -202px;
}
.image-hack-wrapper > img {
    height: 100px;
    width: 203px;
}
.goToDirection{
    cursor: pointer;
    color: white;
    font-size: 11px;
    position: absolute;
    line-height: normal;
    top:2px;
    right: 2px;
    width: 30px;
    height: 30px;
    text-indent: 6px;
    text-shadow: rgba(0,0,0,0.7) 0px 1px 8px;
    background: url(../images/map/directions.png) no-repeat 1px 1px/20px;
}
.caption-image{
    cursor: pointer;
    color: white;
    font-size: 11px;
    position: absolute;
    line-height: normal;
    padding: 12px 0px 6px 0px;
    bottom: 0;
    left: 0;
    width: 100%;
    background-image: -webkit-linear-gradient(transparent,rgba(0,0,0,0.6));
    background-image: linear-gradient(transparent,rgba(0,0,0,0.6));
    text-indent: 6px;
    height: 15px;
    text-shadow: rgba(0,0,0,0.7) 0px 1px 8px;
}
.title-image{
    display: block;
    cursor: pointer;
    position: absolute;
    top: 0px;
    left: 10px;
    width: 175px;
    height: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
}


